@charset "utf-8";

html, body, div, p, ul, li, a, span{margin: 0;padding: 0;}
a{font-style:normal;text-decoration:none;color:inherit;}
li{list-style:none;}

.header{background: #ddd;padding: 20px 0;}
.inner{max-width: 1200px;margin: 0 auto;}
.gnb{font-size:0;}
.gnb li{display:inline-block;width:25%;}
.gnb li a{display:block;font-size:14px;text-align:center;}
.footer{background:#aaa;}
.f-menu{font-size:0;}
.f-menu li{font-size:14px;color:#fff;}